header{
    border-bottom: 1px solid gray;
    height: 215px;
    width: 1130px;
}

.search {
position: absolute;
top: 10%;
left: 219px;
margin-top: -20px;
width: 512px;
display: flex;
}
.img_logo {
    margin-bottom: 12px;
    margin-right: 50px;
    width: 220px;
    height: 65px;
    text-align: left;
}

.search .green_window {
    margin-top: 10px;
    width: 470px;
    height: 49px;
    display: inline-block;
    border: 2px solid #03cf5d;
}
.search .input_text {
margin: 12px 0 0 9px;
width: 405px;
height: 23px;
outline: 0;
border: 0;
background-color: transparent;
font-weight: 700px;
font-size: 18px;
}
.search .sch_smit{
    position: absolute;
    top: 10%;
    right: 0;
    overflow: visible;
    width: 49px;
    height: 49px;
    border: 0;
    background: #03cf5d;
}
.ico_search_submit {
    position: absolute;
    top: 14px;
    left: 14px;
    width: 21px;
    height: 21px;
    background-position: -4px -60px;
}
#search_button {

}

main {
    min-height: 700px;
    width: 1190px;
    border-bottom: 1px solid gray;
}


footer{
    height: 310px;
}