main {
    min-height: 700px;
    width: 1080px;
    margin: auto;
}
.main_container {
    width: 1080px;
    margin: auto;
    display: grid;
    grid-template-columns: 750px 330px; /*행 길이*/
    grid-template-rows: 120px 310px 890px 130px; /*열 길이*/
    gap: 10px; /*자식요소 간 간격*/
}
.main_box {
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid lightgray; /*메인css 완성 후 border 안보이게 하기*/
}
.login {
    width: 100%;
    height: 120px;
}
.login p {
    width: 280px;
    height: 25px;
    padding-top: 10px;
    font-size: 12px;
    margin: auto;
    color: gray;
    text-align: left;
}
.login_box {
    width: 280px;
    height: 45px;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 9px;
    background-color: #03cf5d;
    text-align: center;
    box-sizing: border-box; /*border 기준으로 크기 지정*/
}
.login_box a {
    display: block;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 18px;
    color: white;
}
.sub_area {
    margin: 14px 8px 0 4px;
}
.look_box {
    float: left;
    font-size: 12px;
    padding-left: 15px;
}
.link_join {
    float: right;
    font-size: 12px;
    padding-right: 15px;
}

.newsstand {
    display: grid;
    grid-template-columns: 125px 125px 125px 125px 125px 125px;
    grid-template-rows: 70px 70px 70px 70px;
    padding-top: 6px;
}
[class *= cell] {
    box-sizing: border-box;
    border: 1px solid lightgray;
    padding: 10px;
}
.side_ad {
    position: relative;
}
.newsstand_box {
    text-align: left;
    font-size: 12px;
    padding-bottom: 8px;
}
.news_logo {
    text-align: center;
    margin-top: 15px;
}
.card_wrap {
    position: relative;
    height: 47px;
    margin: 12px 0;
    border: 1px solid lightgray;
}
/* .card_wrap_title {
    padding-top: 20px;
} */
.theme_head {
    display: block;
}
.theme_head .group_title {
    flex-direction: row;
    overflow: hidden;
    padding-bottom: 17px;
}
.theme_head .group_title .title_area {
    display: flex;
    float: left;
}
.info_area {
    display: flex;
    float: right;
}
.main_category {
    position: relative;
}
.list_category_wrap {
    overflow: hidden;
    display: block;
}
.list_category {
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
    list-style-type: none;
    padding: 0;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px; */
}
.list_category_item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 1px solid lightgray;
    justify-content: center;
    /* flex-direction: row; */
}
.main_category .category_item_tab {
    display: block;
    font-size: 13px;
    line-height: 49px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    width: 60px;
}
.icon_middot {
    width: 2px;
    height: 2px;
    display: inline-block;
    margin: 4px 2px;
    background-color: rgba(32,32,32,.8);
}
.group_topstory {
    padding: 18px 0;
    width: 750px;
    height: 230px;
}
.group_topstory .topstory_inner {
    float: left;
    width: 364px;
    margin: 5px;
}
.topstory_view .topstory_thumb {
    overflow: hidden;
    display: block;
    position: relative;
    width: 364px;
    height: 180px;
}
.title_line_two {
    display: -webkit-box;
    overflow: hidden;
    max-height: 44px;
    line-height: 22px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 3px;
    white-space: normal;
    font-size: 13px;
}
.theme_link {
    padding: 5px 18px;
    margin: 15px;
    /* margin-top: 240px; */
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    font-size: 13px;
    font-weight: 700;
    width: 680px;
}
.link_sports {
    float: left;
    color: #0147b5;
    padding: 15px 0 4px;
    margin-right: 16px;
}
.list_service {
    overflow: hidden;
    height: 25px;
    padding-left: 17px;
    border-left: 1px solid #e4e8eb;
    list-style-type: none;
}
.service_item {
    float: left;
}
.service {
    display: inline-block;
    padding: 3px 0 4px;
    color: #404040;
    vertical-align: top;
}
.theme_link .service_item+.service_item {
    margin-left: 28px;
}