main {
    min-height: 700px;
    width: 1080px;
    margin: auto;
}
.main_container {
    width: 1080px;
    margin: auto;
    display: grid;
    grid-template-columns: 750px 330px; /*행 길이*/
    grid-template-rows: 120px 310px 890px 130px; /*열 길이*/
    gap: 10px; /*자식요소 간 간격*/
}
.main_box {
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid lightgray; /*메인css 완성 후 border 안보이게 하기*/
}
.login {
    width: 100%;
    height: 120px;
}
.login p {
    width: 280px;
    height: 25px;
    padding-top: 10px;
    font-size: 12px;
    margin: auto;
    color: gray;
    text-align: left;
}
.login_box {
    width: 280px;
    height: 45px;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 9px;
    background-color: #03cf5d;
    text-align: center;
    box-sizing: border-box; /*border 기준으로 크기 지정*/
}
.login_box a {
    display: block;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 18px;
    color: white;
}
.sub_area {
    margin: 14px 8px 0 4px;
}
.look_box {
    float: left;
    font-size: 12px;
    padding-left: 15px;
}
.link_join {
    float: right;
    font-size: 12px;
    padding-right: 15px;
}

.newsstand {
    display: grid;
    grid-template-columns: 125px 125px 125px 125px 125px 125px;
    grid-template-rows: 70px 70px 70px 70px;
    padding-top: 6px;
}
[class *= cell] {
    box-sizing: border-box;
    border: 1px solid lightgray;
    padding: 10px;
}
.side_ad {
    position: relative;
}
.newsstand_box {
    text-align: left;
    font-size: 12px;
    padding-bottom: 8px;
}
.news_logo {
    text-align: center;
    margin-top: 15px;
}
.card_wrap {
    position: relative;
    display: flex;
    height: 47px;
    margin: 12px 0;
    border: 1px solid lightgray;
}
.card_wrap img {
    padding: 5px;
}
.card_wrap_title {
    font-size: 14px;
    text-align: left;
    padding-top: 13px;
}
.theme_head {
    display: block;
}
.theme_head .group_title {
    flex-direction: row;
    overflow: hidden;
    padding-bottom: 17px;
}
.theme_head .group_title .title_area {
    display: flex;
    float: left;
}
.info_area {
    display: flex;
    float: right;
}
.main_category {
    position: relative;
}
.list_category_wrap {
    overflow: hidden;
    display: block;
}
.list_category {
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
    list-style-type: none;
    padding: 0;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px; */
}
.list_category_item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 1px solid lightgray;
    justify-content: center;
    /* flex-direction: row; */
}
.main_category .category_item_tab {
    display: block;
    font-size: 13px;
    line-height: 49px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    width: 60px;
}
.icon_middot {
    width: 2px;
    height: 2px;
    display: inline-block;
    margin: 4px 2px;
    background-color: rgba(32,32,32,.8);
}
.group_topstory {
    padding: 18px 0;
    width: 750px;
    height: 230px;
}
.group_topstory .topstory_inner {
    float: left;
    width: 364px;
    margin: 5px;
}
.topstory_view .topstory_thumb {
    overflow: hidden;
    display: block;
    position: relative;
    width: 364px;
    height: 180px;
}
.title_line_two {
    display: -webkit-box;
    overflow: hidden;
    max-height: 44px;
    line-height: 22px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 3px;
    white-space: normal;
    font-size: 13px;
}
.theme_link {
    padding: 5px 18px;
    margin: 15px;
    /* margin-top: 240px; */
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    font-size: 13px;
    font-weight: 700;
    width: 680px;
}
.link_sports {
    float: left;
    color: #0147b5;
    padding: 15px 0 4px;
    margin-right: 16px;
}
.list_service {
    overflow: hidden;
    height: 25px;
    padding-left: 17px;
    border-left: 1px solid #e4e8eb;
    list-style-type: none;
}
.service_item {
    float: left;
}
.service {
    display: inline-block;
    padding: 3px 0 4px;
    color: #404040;
    vertical-align: top;
}
.theme_link .service_item+.service_item {
    margin-left: 28px;
}
.group_theme {
    display: block;
}
.media_view {
    /*margin: 0 -27px -31px 0;*/
    padding: 10px;
    font-size: 0;
    line-height: 0;
    width: 730px;
}
.media_area {
    display: inline-block;
    width: 232px;
    padding: 5px;
    font-size: 12px;
    line-height: 20px;
    vertical-align: top; /*inline 또는 table-cell box에서 수직정렬 지정, 텍스트 요소에는 line-height, img 태그에는 vertical-align:top을 주면 같은 요소에서 중간으로 배치*/
    text-decoration: none;
}
.media_thumb {
    width: 232px;
    height: 130px;
    overflow: hidden;
    display: block;
    position: relative;
}
.media_info {
    display: block;
    padding-top: 12px;
    overflow: hidden;
}
.media_view .title {
    display: -webkit-box;
    overflow: hidden;
    max-height: 40px;
    line-height: 20px;
    text-overflow: ellipsis; /*말줄임 표시*/
    -webkit-line-clamp: 2; /*블록 컨테이너의 콘텐츠를 지정한 줄 수만큼으로 제한, display 속성을 -webkit-box, -webkit-inline-box로 하고 -webkit-box-orient 속성을 vertical로 설정한 경우에만 동작 */
    -webkit-box-orient: vertical;
    font-size: 13px;
}
.source {
    display: inline-block;
    max-width: 100%;
    margin-top: 3px;
    vertical-align: top;
    overflow: hidden;
    color: #505050;
}
.shop_wrap {
    overflow: hidden;
    width: 330px;
    /* height: 1809px; */
    background-color: #fff;
    letter-spacing: -.25px;
    /* transform: translateZ(0); */
}
.shop_header {
    padding: 12px 0 13px;
    line-height: 17px;
}
.link_shop {
    float: left;
    margin: 10px 0 0 5px;
    font-size: 13px;
    line-height: 17px;
    color: black;
}
.shop_tab {
    float: right;
    font-size: 13px;
    font-weight: 700;
    list-style: none;
}
.shop_tab .tab {
    display: block;
    padding: 0 4px;
    border-bottom: 2px solid transparent;
    color: #202020;
    text-decoration: none;
}
.shop_tab .tab[aria-selected=true] {
    border-color: #19ce60;
    color: #03cf5d
}
.shop_content {
    overflow: hidden;
    /* height: 1763px; */
    border: 1px solid lightgrey;
}
.group_mall {
    display: block;
    overflow: hidden;
    padding: 12px 4px 11px 10px;
    background-color: #f7f9fa;
    border-bottom: 1px solid #dae1e6;
}
.mall_area {
    list-style: none;
    float: left;
}